Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Fix invalid types
  lib/pleroma/reverse_proxy.ex
Due: test, test-erratic, lint, cycles, release

Fix incorrect type definition for maybe_direct_follow/2
  lib/pleroma/user.ex
Due: test, test-erratic, lint, cycles, release

Fix typo in typespec
  lib/pleroma/user.ex
Due: test, test-erratic, lint, cycles, release

Dialyzer: remove function that will never match
  lib/pleroma/web/activity_pub/mrf/anti_followbot_policy.ex
Due: test, test-erratic, lint, cycles, release

Dialyzer: fix pattern match coverage
  lib/pleroma/ecto_type/activity_pub/object_validators/bare_uri.ex
Due: test, test-erratic, lint, cycles, release

Dialyzer: fix pattern match coverage
  lib/pleroma/release_tasks.ex
Due: test, test-erratic, lint, cycles, release

Use config to control max_restarts
  config/config.exs
  config/test.exs
  lib/pleroma/application.ex
Due: test, test-erratic, lint, cycles, release

Use config to control loading of custom modules
  config/config.exs
  config/test.exs
  lib/pleroma/application.ex
  lib/pleroma/user.ex
  lib/pleroma/web/o_auth/token.ex
Due: test, test-erratic, lint, cycles, release

Use config to control background migrators
  config/benchmark.exs
  config/config.exs
  config/test.exs
  lib/pleroma/application.ex
Due: test, test-erratic, lint, cycles, release

Use config to control streamer registry
  config/benchmark.exs
  config/config.exs
  config/test.exs
  lib/pleroma/application.ex
Due: test, test-erratic, lint, cycles, release

Use config to control starting all HTTP pools in test env
  config/test.exs
  lib/pleroma/application.ex
Due: test, test-erratic, lint, cycles, release

Dialyzer fixes
  changelog.d/dialyzer.skip
Due: none

Credo
  lib/pleroma/application.ex
Due: test, test-erratic, lint, cycles, release

Add a build and test pipeline for elixir 1.15 with a new naming convention
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, cycles, release

Linting as a separate stage
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, cycles, release

Spec building should be in build stage
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, cycles, release

Add Dialyxir with manual job execution
  .gitlab-ci.yml
  mix.exs
  mix.lock
Due: deps, openapi, test, test-erratic, lint, cycles, release

Use our own 1.15 ci-base image
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, cycles, release

Reorganize ci scripts
  ci/build_and_push.sh
  ci/elixir-1.12/Dockerfile
  ci/elixir-1.12/build_and_push.sh
  ci/elixir-1.15/Dockerfile
  ci/elixir-1.15/build_and_push.sh
  ci/postgres-with-rum-13/Dockerfile
  ci/postgres-with-rum-13/build_and_push.sh
Due: none

Only need amd64 for now
  ci/elixir-1.15/build_and_push.sh
Due: none

Fix the image name
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, cycles, release

Rename 1.15 image to include otp25, clarify test names
  .gitlab-ci.yml
  ci/elixir-1.15-otp25/Dockerfile
  ci/elixir-1.15-otp25/build_and_push.sh
  ci/elixir-1.15/build_and_push.sh
Due: openapi, test, test-erratic, lint, cycles, release

Clarify formatting and cycles versions
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, cycles, release

Fix testing cache policy
  .gitlab-ci.yml
Due: openapi, test, test-erratic, lint, cycles, release

format
  lib/pleroma/web/api_spec/schemas/poll.ex
Due: openapi, test, test-erratic, lint, cycles, release

Replace custom fifo implementation with Exile
  changelog.d/exile.skip
  lib/pleroma/helpers/media_helper.ex
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, cycles, release

Exile: switch to fork with BSD compile fix
  changelog.d/exile-bsds.skip
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, cycles, release

Exile: fix for MacOS dev environments
  changelog.d/exile-macos.skip
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, cycles, release

Pleroma.User.Query: fix dialyzer error
  lib/pleroma/user/query.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.User.Backup: fix some dialyzer errors
  lib/pleroma/user/backup.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.Web.ActivityPub.Builder: fix dialyzer error
  lib/pleroma/web/common_api/activity_draft.ex
Due: test, test-erratic, lint, cycles, release

Announcement: fix dialyzer errors and add typespec for the changeset
  lib/pleroma/announcement.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.Web.ActivityPub.Builder: fix dialyzer errors
  lib/pleroma/web/activity_pub/builder.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.User: fix dialyzer errors
  lib/pleroma/user_relationship.ex
Due: test, test-erratic, lint, cycles, release

MRF.InlineQuotePolicy: fix dialyzer error
  lib/pleroma/web/activity_pub/mrf/inline_quote_policy.ex
Due: test, test-erratic, lint, cycles, release

Use config to control Uploader callback timeout
  config/config.exs
  config/test.exs
  lib/pleroma/uploaders/uploader.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.HTTP.AdapterHelper: fix dialyzer errors
  lib/pleroma/http/adapter_helper.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.Gun.ConnectionPool.WorkerSupervisor: fix dialyzer error
  lib/pleroma/gun/connection_pool/worker_supervisor.ex
Due: test, test-erratic, lint, cycles, release

Use config to determine sending to the streamer registry instead of MIX_ENV compile time function definition
  lib/pleroma/web/streamer.ex
Due: test, test-erratic, lint, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
