Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Add changelog
  changelog.d/status-notification-type.add
Due: none

Pleroma.MFA.Totp.provisioning_uri/3: add @spec
  lib/pleroma/mfa/totp.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.MFA: fix gradient error
  lib/pleroma/mfa.ex
Due: test, test-erratic, lint, cycles, release

Changelog
  changelog.d/dialyzer4.skip
Due: none

Pleroma.HTTP.RequestBuilder: fix gradient error
  lib/pleroma/http/request_builder.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.Filter: fix gradient error
  lib/pleroma/filter.ex
Due: test, test-erratic, lint, cycles, release

Pleroma Emoji mix task: fix gradient error
  lib/mix/tasks/pleroma/emoji.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.Emoji.Pack: fix gradient error
  lib/pleroma/emoji/pack.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.Config.DeprecationWarnings: fix gradient errors
  lib/pleroma/config/deprecation_warnings.ex
Due: test, test-erratic, lint, cycles, release

Fix Rich Media Previews for updated activities
  changelog.d/rich_media.fix
  lib/pleroma/activity/html.ex
  lib/pleroma/html.ex
  lib/pleroma/web/rich_media/helpers.ex
  test/fixtures/rich_media/google.html
  test/fixtures/rich_media/yahoo.html
  test/pleroma/web/rich_media/helpers_test.exs
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, cycles, release

URI.authority is deprecated
  lib/pleroma/web/rich_media/helpers.ex
Due: test, test-erratic, lint, cycles, release

Ensure URLs with IP addresses for the host do not generate previews
  lib/pleroma/web/rich_media/helpers.ex
  test/pleroma/web/rich_media/helpers_test.exs
  test/support/http_request_mock.ex
Due: test, test-erratic, lint, cycles, release

Pleroma.Web.RichMedia.Parser: Remove test-specific codepaths
  lib/pleroma/caching.ex
  lib/pleroma/web/rich_media/parser.ex
  test/fixtures/rich_media/oembed.html
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/pleroma_api/views/chat_message_reference_view_test.exs
  test/pleroma/web/rich_media/helpers_test.exs
  test/pleroma/web/rich_media/parser_test.exs
  test/support/cachex_proxy.ex
  test/support/http_request_mock.ex
  test/support/null_cache.ex
Due: test, test-erratic, lint, cycles, release

RichMedia.Helpers: move the validate_page_url/1 function to the Parser module
  changelog.d/rich_media_tests.skip
  lib/pleroma/web/rich_media/helpers.ex
  lib/pleroma/web/rich_media/parser.ex
Due: test, test-erratic, lint, cycles, release

Use full_nickname in OAuth html template
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
Due: none

Add 'multitenancy' to features
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
Due: test, test-erratic, lint, cycles, release

Use User.full_nickname/1 in oauth html template
  changelog.d/oauth-nickname.skip
  lib/pleroma/web/templates/o_auth/o_auth/show.html.eex
Due: none

Fix Gun connection supervisor logic error
  changelog.d/gun_pool.fix
  lib/pleroma/gun/connection_pool/worker_supervisor.ex
Due: test, test-erratic, lint, cycles, release

Fix notifications index
  lib/pleroma/notification.ex
Due: test, test-erratic, lint, cycles, release

Changelog for notifications fix pulled in from Rebased
  changelog.d/.search_config.fix.swp
  changelog.d/notifications-index.fix
Due: none

Update .gitignore
  .gitignore
  changelog.d/.search_config.fix.swp
Due: none

Support translateLocally translation provider
  lib/pleroma/application_requirements.ex
  lib/pleroma/language/translation.ex
  lib/pleroma/language/translation/deepl.ex
  lib/pleroma/language/translation/libretranslate.ex
  lib/pleroma/language/translation/provider.ex
  lib/pleroma/language/translation/translate_locally.ex
Due: test, test-erratic, lint, cycles, release

Add test for translateLocally
  config/description.exs
  lib/pleroma/language/translation/translate_locally.ex
  test/pleroma/language/translation/translate_locally_test.exs
  test/support/translation_mock.ex
Due: test, test-erratic, lint, cycles, release

Config: Check the permissions of the linked file instead of the symlink↵
  changelog.d/config-stat-symlink.fix
  lib/pleroma/config/release_runtime_provider.ex
Due: test, test-erratic, lint, cycles, release

MediaProxy RFC compliance
  changelog.d/content-length.fix
  lib/pleroma/reverse_proxy.ex
Due: test, test-erratic, lint, cycles, release

Change some Gun connection pool logs to debug level
  changelog.d/gun-logs.skip
  lib/pleroma/telemetry/logger.ex
Due: test, test-erratic, lint, cycles, release

Websocket refactor to use Phoenix.Socket.Transport
  config/config.exs
  lib/phoenix/transports/web_socket/raw.ex
  lib/pleroma/web/endpoint.ex
  lib/pleroma/web/mastodon_api/websocket_handler.ex
Due: test, test-erratic, lint, cycles, release

Websocket refactor changelog
  changelog.d/websocket-refactor.change
Due: none

Remove invalid test
  test/pleroma/integration/mastodon_websocket_test.exs
Due: test, test-erratic, lint, cycles, release

Fix atom leak in password digest functionality
  lib/pleroma/password/pbkdf2.ex
Due: test, test-erratic, lint, cycles, release

Fix atom leak in background worker
  lib/pleroma/workers/background_worker.ex
Due: test, test-erratic, lint, cycles, release

Changelog
  changelog.d/atom-leak.skip
Due: none

Support Bandit as an alternate HTTP backend to Cowboy. This is currently considered experimental, but may improve performance and resource usage.
  changelog.d/bandit.change
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, cycles, release

Remove Cowboy-specific HTTP options
  config/dev.exs
Due: test, test-erratic, lint, cycles, release

Support a new changelog entry type: deps
  mix.exs
  mix.lock
  tools/check-changelog
  tools/collect-changelog
Due: deps, test, test-erratic, lint, cycles, release

Tesla changelog
  changelog.d/tesla.deps
Due: none

Add support for a "deps" changelog type and document deps changes since 2.6.1 release
  changelog.d/bandit.change
  changelog.d/bandit.deps
  changelog.d/eblurhash.deps
  changelog.d/exile.deps
  changelog.d/floki.deps
  changelog.d/http_signatures.deps
  changelog.d/phoenix.deps
  changelog.d/promex.deps
  changelog.d/vix.deps
Due: none

Revert "Support a new changelog entry type: deps"
  tools/check-changelog
  tools/collect-changelog
Due: none

Revert "Add support for a "deps" changelog type and document deps changes since 2.6.1 release"
  changelog.d/bandit.change
  changelog.d/bandit.deps
  changelog.d/eblurhash.deps
  changelog.d/exile.deps
  changelog.d/floki.deps
  changelog.d/http_signatures.deps
  changelog.d/phoenix.deps
  changelog.d/promex.change
  changelog.d/vix.deps
Due: none

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
