Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

Translated using Weblate (Japanese)
  priv/gettext/ja/LC_MESSAGES/errors.po
Due: none

Force more frequent full_sweep GC runs on the Websocket processes
  changelog.d/memleak.fix
  lib/pleroma/web/endpoint.ex
Due: test, test-erratic, lint, cycles, release

StealEmojiPolicy: Sanitize shortcodes
  changelog.d/mrf_steal_emoji-path.security
  lib/pleroma/web/activity_pub/mrf/steal_emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/steal_emoji_policy_test.exs
Due: test, test-erratic, lint, cycles, release

StealEmojiPolicy: Sanitize shortcodes
  lib/pleroma/web/activity_pub/mrf/steal_emoji_policy.ex
  test/pleroma/web/activity_pub/mrf/steal_emoji_policy_test.exs
Due: test, test-erratic, lint, cycles, release

Security release 2.6.2
  CHANGELOG.md
  mix.exs
Due: test, test-erratic, lint, cycles, release

Mergeback of security release 2.6.2
  CHANGELOG.md
  changelog.d/mergeback-2.6.2.skip
  changelog.d/mrf_steal_emoji-path.security
  mix.exs
Due: test, test-erratic, lint, cycles, release

Gun Connection Pool was not attempting to free a connection and retry once if the pool was full.
  lib/pleroma/gun/connection_pool/worker_supervisor.ex
Due: test, test-erratic, lint, cycles, release

Prevent publisher jobs from erroring if the connection pool is full
  changelog.d/gun_pool2.fix
  lib/pleroma/web/activity_pub/publisher.ex
Due: test, test-erratic, lint, cycles, release

RemoteFetcherWorker: Make sure {:error, _} is returned on failure
  changelog.d/remote-fetcher-error.skip
  lib/pleroma/workers/remote_fetcher_worker.ex
Due: test, test-erratic, lint, cycles, release

Rename variable to make the worker retry logic easier to read
  changelog.d/gun_pool3.skip
  lib/pleroma/gun/connection_pool/worker_supervisor.ex
Due: test, test-erratic, lint, cycles, release

Exile: change to upstream pre-release commit that fixes build on FreeBSD
  changelog.d/exile-freebsd.skip
  mix.exs
  mix.lock
Due: deps, test, test-erratic, lint, cycles, release

Add some missing fields to instanceV2
  changelog.d/instance-v2.skip
  config/description.exs
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: test, test-erratic, lint, cycles, release

Allow to group bookmarks in folders
  changelog.d/bookmark-folders.add
  docs/development/API/differences_in_mastoapi_responses.md
  docs/development/API/pleroma_api.md
  lib/pleroma/bookmark.ex
  lib/pleroma/bookmark_folder.ex
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/pleroma_bookmark_folder_operation.ex
  lib/pleroma/web/api_spec/operations/status_operation.ex
  lib/pleroma/web/api_spec/schemas/bookmark_folder.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/controllers/bookmark_folder_controller.ex
  lib/pleroma/web/pleroma_api/views/bookmark_folder_view.ex
  lib/pleroma/web/router.ex
  priv/repo/migrations/20240223165000_create_bookmark_folders.exs
  test/pleroma/bookmark_folder_test.exs
  test/pleroma/bookmark_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/controllers/bookmark_folder_controller_test.ex
  uploads/.gitignore
Due: openapi, test, test-erratic, lint, cycles, release

Add ForceMention mrf
  changelog.d/force-mention-mrf.add
  config/config.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/mrf/force_mention.ex
  test/fixtures/minds-invalid-mention-post.json
  test/fixtures/minds-pleroma-mentioned-post.json
  test/pleroma/web/activity_pub/mrf/force_mention_test.exs
Due: test, test-erratic, lint, cycles, release

Consider a case when inbox is nil
  lib/pleroma/web/activity_pub/publisher.ex
Due: test, test-erratic, lint, cycles, release

Add changelog
  CHANGELOG.md
Due: none

add changelog.d
  CHANGELOG.md
Due: none

add changelog.d
  changelog.d/issue-3241.fix
Due: none

fmt
  lib/pleroma/web/activity_pub/publisher.ex
Due: test, test-erratic, lint, cycles, release

Apply ledyba's suggestion(s) to 1 file(s)
  lib/pleroma/web/activity_pub/publisher.ex
Due: test, test-erratic, lint, cycles, release

Apply tusooa's suggestion
  lib/pleroma/user.ex
Due: test, test-erratic, lint, cycles, release

Fix adding language to json ld header, add transmogrifier test
  lib/pleroma/web/activity_pub/transmogrifier.ex
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, cycles, release

Add test
  test/pleroma/user_test.exs
Due: test, test-erratic, lint, cycles, release

Fix ffmpeg framegrabs with Exile
  changelog.d/framegrabs.fix
  lib/pleroma/helpers/media_helper.ex
Due: test, test-erratic, lint, cycles, release

Include following/followers in backups
  changelog.d/backups-follows.add
  lib/pleroma/user/backup.ex
  test/pleroma/user/backup_test.exs
Due: test, test-erratic, lint, cycles, release

Backup chats and chat messages
  changelog.d/backups-chats.add
  lib/pleroma/chat/message_reference.ex
  lib/pleroma/user/backup.ex
  test/pleroma/user/backup_test.exs
Due: test, test-erratic, lint, cycles, release

RemoteReportPolicy: add `reject_third_party` option
  lib/pleroma/web/activity_pub/mrf/remote_report_policy.ex
  test/pleroma/web/activity_pub/mrf/remote_report_policy_test.exs
Due: test, test-erratic, lint, cycles, release

mix format
  lib/pleroma/web/activity_pub/mrf/remote_report_policy.ex
Due: test, test-erratic, lint, cycles, release

Remove unneeded code
  lib/pleroma/web/activity_pub/mrf/block_notification_policy.ex
  lib/pleroma/web/rich_media/parser.ex
  test/pleroma/web/activity_pub/mrf/block_notification_policy_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: test, test-erratic, lint, cycles, release

Update README
  .gitignore
Due: none

Fixes
  README.md
  lib/pleroma/web/admin_api/controllers/report_controller.ex
  lib/pleroma/web/admin_api/controllers/user_controller.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/plugs/uploaded_media.ex
  lib/pleroma/web/rich_media/helpers.ex
  lib/pleroma/web/web_finger.ex
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
  test/pleroma/web/pleroma_api/views/chat_message_reference_view_test.exs
  test/pleroma/web/rich_media/helpers_test.exs
  test/pleroma/web/web_finger/web_finger_controller_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

Update operation tags
  lib/pleroma/web/api_spec.ex
  lib/pleroma/web/api_spec/operations/mastodon_admin/account_operation.ex
  lib/pleroma/web/api_spec/operations/mastodon_admin/report_operation.ex
Due: openapi, test, test-erratic, lint, cycles, release

Use 'schema' alias for schema.org
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
  priv/static/schemas/litepub-0.1.jsonld
Due: test, test-erratic, lint, cycles, release

Test "content" for Mobilizon statuses
  lib/pleroma/web/activity_pub/object_validators/common_fields.ex
  lib/pleroma/web/activity_pub/object_validators/event_validator.ex
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, cycles, release

add test for leaving Mobilizon events
  test/fixtures/tesla_mock/mobilizon-event-leave.json
  test/pleroma/web/activity_pub/transmogrifier/leave_handling_test.exs
  uploads/.gitignore
Due: test, test-erratic, lint, cycles, release

Update MastoAPI docs
  docs/development/API/differences_in_mastoapi_responses.md
Due: none

Update Pleroma API docs
  docs/development/API/pleroma_api.md
  lib/pleroma/web/api_spec/operations/pleroma_event_operation.ex
Due: openapi, test, test-erratic, lint, cycles, release

Gancio support
  lib/pleroma/web/activity_pub/object_validators/place_validator.ex
  test/fixtures/tesla_mock/gancio-event.json
  test/fixtures/tesla_mock/gancio-user.json
  test/pleroma/web/activity_pub/transmogrifier/event_handling_test.exs
Due: test, test-erratic, lint, cycles, release

Allow to specify post language
  changelog.d/post-languages.add
  lib/pleroma/web/activity_pub/transmogrifier.ex
  lib/pleroma/web/common_api/activity_draft.ex
  lib/pleroma/web/common_api/utils.ex
  test/pleroma/web/activity_pub/transmogrifier/note_handling_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
