Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, cycles, release

deps:
  stage: deps
  script:
  - mix deps.get
  - mix deps.compile
  cache:
    key:
      files:
      - mix.lock
    paths:
    - deps
    - _build
    policy: pull-push

openapi:
  stage: test
  artifacts:
    paths:
    - spec.json
  script:
  - mix pleroma.openapi_spec spec.json

test:
  stage: test
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --cover --preload-modules
  ...

test-erratic:
  stage: test
  allow_failure: true
  services:
  - name: postgres:13-alpine
    alias: postgres
    command:
    - postgres
    - -c
    - fsync=off
    - -c
    - synchronous_commit=off
    - -c
    - full_page_writes=off
  before_script:
  - mix ecto.create
  - mix ecto.migrate
  script:
  - mix test --only=erratic

lint:
  stage: test
  script:
  - mix format --check-formatted

cycles:
  stage: test
  script:
  - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
  - mix deps.get
  - mkdir release
  - mix release --path release
  artifacts:
    name: rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME
    paths:
    - release/*
  cache: {}

add options to mix pleroma.database prune_objects to delete more activities
  lib/mix/tasks/pleroma/database.ex
  test/mix/tasks/pleroma/database_test.exs
Due: test, test-erratic, lint, cycles, release

add documentation for the prune_objects mix task options
  changelog.d/akkoma-prune-options.add
  docs/administration/CLI_tasks/database.md
Due: none

Search: Basic Qdrant/Ollama search
  config/config.exs
  lib/mix/tasks/pleroma/search/indexer.ex
  lib/pleroma/search/qdrant_search.ex
Due: test, test-erratic, lint, cycles, release

QdrantSearch: Remove debugging stuff
  lib/pleroma/search/qdrant_search.ex
Due: test, test-erratic, lint, cycles, release

QdrantSearch: Add query prefix.
  lib/pleroma/search/qdrant_search.ex
Due: test, test-erratic, lint, cycles, release

Docs/Search: Add basic documentation of the qdrant search
  docs/configuration/search.md
Due: none

SearchBackend: Add create_index
  lib/mix/tasks/pleroma/search/indexer.ex
  lib/pleroma/search/qdrant_search.ex
  lib/pleroma/search/search_backend.ex
Due: test, test-erratic, lint, cycles, release

Remove duplicated code
  config/config.exs
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
Due: test, test-erratic, lint, cycles, release

Revert to pleroma' card parser
  config/config.exs
  config/description.exs
  docs/configuration/cheatsheet.md
  lib/pleroma/web/activity_pub/object_validators/article_note_page_validator.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/views/chat/message_reference_view.ex
  lib/pleroma/web/rich_media/helpers.ex
  lib/pleroma/web/rich_media/parser.ex
  lib/pleroma/web/rich_media/parser/card.ex
  lib/pleroma/web/rich_media/parser/embed.ex
  lib/pleroma/web/rich_media/parser/meta_tags.ex
  lib/pleroma/web/rich_media/parsers/meta_tags_parser.ex
  lib/pleroma/web/rich_media/parsers/o_embed.ex
  lib/pleroma/web/rich_media/parsers/ogp.ex
  lib/pleroma/web/rich_media/parsers/twitter_card.ex
  mix.exs
  mix.lock
  test/pleroma/web/activity_pub/object_validators/article_note_page_validator_test.exs
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/views/chat_message_reference_view_test.exs
  test/pleroma/web/rich_media/helpers_test.exs
  test/pleroma/web/rich_media/parser/card_test.exs
  test/pleroma/web/rich_media/parser/meta_tags_test.exs
  test/pleroma/web/rich_media/parser_test.exs
  test/pleroma/web/rich_media/parsers/twitter_card_test.exs
Due: deps, test, test-erratic, lint, cycles, release

Changelog for stripping actor from objects
  changelog.d/strip-object-actor.fix
Due: none

SearchBackend: Add drop_index
  lib/mix/tasks/pleroma/search/indexer.ex
  lib/pleroma/search/database_search.ex
  lib/pleroma/search/meilisearch.ex
  lib/pleroma/search/qdrant_search.ex
  lib/pleroma/search/search_backend.ex
Due: test, test-erratic, lint, cycles, release

Startup detection for configured MRF modules that are missing or incorrectly defined
  changelog.d/missing-mrfs.add
  lib/pleroma/application_requirements.ex
Due: test, test-erratic, lint, cycles, release

Revert "Merge branch 'strip-object-actor' into 'develop'"
  changelog.d/strip-object-actor.fix
  lib/pleroma/constants.ex
  test/fixtures/create-chat-message.json
  test/pleroma/user/backup_test.exs
  test/pleroma/web/activity_pub/transmogrifier/chat_message_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, cycles, release

Add basic fastembed server
  python/fastembed-server.py
Due: none

Add dockerfile
  python/Dockerfile
Due: none

Add docker compose file for fastembed server
  python/compose.yml
Due: none

QdrantSearch: Add basic test
  lib/pleroma/search/qdrant_search.ex
  test/pleroma/search/qdrant_search_test.exs
Due: test, test-erratic, lint, cycles, release

QdrantSearch: Implement post deletion
  lib/pleroma/search/qdrant_search.ex
  test/pleroma/search/qdrant_search_test.exs
Due: test, test-erratic, lint, cycles, release

Add qdrant changelog
  changelog.d/qdrant_search.add
Due: none

Linting
  lib/pleroma/search/qdrant_search.ex
  test/pleroma/search/qdrant_search_test.exs
Due: test, test-erratic, lint, cycles, release

PleromaAPI: marking notifications as read no longer returns notifications
  changelog.d/mark-read.fix
  lib/pleroma/notification.ex
  lib/pleroma/web/api_spec/operations/pleroma_notification_operation.ex
  lib/pleroma/web/pleroma_api/controllers/notification_controller.ex
  test/pleroma/notification_test.exs
  test/pleroma/web/pleroma_api/controllers/notification_controller_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

B QdrantSearch: Switch to OpenAI api
  changelog.d/qdrant_search.add
  config/config.exs
  lib/pleroma/search/qdrant_search.ex
  test/pleroma/search/qdrant_search_test.exs
Due: test, test-erratic, lint, cycles, release

B FastembedServer: Switch to OpenAI api, support changing models
  python/fastembed-server.py
Due: none

B Config: Set default Qdrant embedder to our fastembed-api server
  config/config.exs
Due: test, test-erratic, lint, cycles, release

Docs: Switch docs from Ollama to OpenAI.
  docs/configuration/search.md
Due: none

B FastembedAPI: Move to more appropriate folder
  supplemental/search/fastembed-api/Dockerfile
  supplemental/search/fastembed-api/compose.yml
  supplemental/search/fastembed-api/fastembed-server.py
Due: none

B FastembedAPI: Add requirements.txt
  supplemental/search/fastembed-api/Dockerfile
  supplemental/search/fastembed-api/requirements.txt
Due: none

B FastembedAPI: Add readme
  supplemental/search/fastembed-api/README.md
Due: none

Docs: Write docs for the QdrantSearch
  docs/configuration/search.md
Due: none

Docs: Add more information about index memory consumption.
  docs/configuration/search.md
Due: none

Docs: Mention running the Qdrant server
  docs/configuration/search.md
Due: none

QdrantSearch: Support pagination.
  lib/pleroma/search/qdrant_search.ex
Due: test, test-erratic, lint, cycles, release

CI: Add new builders for base images
  .gitlab-ci.yml
  ci/elixir-1.13/Dockerfile
  ci/elixir-1.13/build_and_push.sh
  ci/elixir-1.15-otp25/build_and_push.sh
Due: openapi, test, test-erratic, lint, cycles, release

CI: Specify version fully in base image tag
  ci/elixir-1.13/build_and_push.sh
Due: none

CI: Specify correct image name.
  .gitlab-ci.yml
  ci/elixir-1.13/build_and_push.sh
Due: openapi, test, test-erratic, lint, cycles, release

Fix `get_notified_from`
  lib/pleroma/notification.ex
Due: test, test-erratic, lint, cycles, release

Webfinger: Add test showing wrong webfinger behavior
  test/fixtures/webfinger/graf-imposter-webfinger.json
  test/pleroma/web/web_finger_test.exs
Due: test, test-erratic, lint, cycles, release

Prevent webfinger spoofing
  lib/pleroma/web/web_finger.ex
  test/fixtures/tesla_mock/gleasonator.com_host_meta
  test/fixtures/tesla_mock/webfinger_spoof.json
  test/pleroma/web/web_finger_test.exs
Due: test, test-erratic, lint, cycles, release

Webfinger: Fix test
  test/pleroma/web/web_finger_test.exs
Due: test, test-erratic, lint, cycles, release

Path conditions:
  deps: any of: mix.lock
  openapi: any of: .gitlab-ci.yml, lib/pleroma/web/api_spec/**/*.ex, lib/pleroma/web/api_spec.ex
  test: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  test-erratic: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  lint: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  cycles: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
  release: any of: .gitlab-ci.yml, **/*.ex, **/*.exs, mix.lock
