Repository soapbox-pub/rebased: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deps, openapi, test, test-erratic, lint, cycles, release

.gitlab-ci.yml:

image: registry.gitlab.com/soapbox-pub/rebased/ci

variables: &global_variables
  POSTGRES_DB: pleroma_test
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  DB_HOST: postgres
  DB_PORT: 5432
  MIX_ENV: test
  # Needed for Dokku deployment.
  # https://github.com/dokku/dokku/issues/2514#issuecomment-616775470
  GIT_DEPTH: 0

cache: &cache
  key:
    files:
      - mix.lock
  paths:
    - deps
    - _build
  policy: pull

stages:
  - deps
  - test
  - deploy

deps:
  stage: deps
  script:
    - mix deps.get
    - mix deps.compile
  cache:
    <<: *cache
    policy: pull-push
  only:
    changes:
      - mix.lock

openapi:
  stage: test
  only:
    changes:
      - ".gitlab-ci.yml"
      - "lib/pleroma/web/api_spec/**/*.ex"
      - "lib/pleroma/web/api_spec.ex"
  artifacts:
    paths:
      - spec.json
  script:
    - mix pleroma.openapi_spec spec.json

test:
  stage: test
  only:
    changes: &elixir-changes
      - ".gitlab-ci.yml"
      - "**/*.ex"
      - "**/*.exs"
      - "mix.lock"
  services: &db-services
    - name: postgres:13-alpine
      alias: postgres
      command: ["postgres", "-c", "fsync=off", "-c", "synchronous_commit=off", "-c", "full_page_writes=off"]
  before_script: &db-setup
    - mix ecto.create
    - mix ecto.migrate
  script:
    - mix test --cover --preload-modules
  coverage: '/^Line total: ([^ ]*%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test-erratic:
  stage: test
  allow_failure: true
  only:
    changes: *elixir-changes
  services: *db-services
  before_script: *db-setup
  script:
    - mix test --only=erratic

lint:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix format --check-formatted

# analysis:
#   stage: test
#   only:
#     changes: *elixir-changes
#   script:
#     - mix credo --strict --only=warnings,todo,fixme,consistency,readability

cycles:
  stage: test
  only:
    changes: *elixir-changes
  script:
    - mix xref graph --format cycles --label compile | awk '{print $0} END{exit ($0 != "No cycles found")}'

# Deploy with Dokku
# https://github.com/dokku/gitlab-ci
# https://github.com/dokku/ci-docker-image
review:
  image: dokku/ci-docker-image
  stage: test
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://rebased-$CI_COMMIT_REF_SLUG.dokku.soapbox.pub
  only:
    - branches
  except:
    - main
  variables:
    GIT_REMOTE_URL: ssh://dokku@$DOKKU_HOST/rebased-$CI_COMMIT_REF_SLUG
    GIT_PUSH_FLAGS: --force
  script: dokku-deploy
  allow_failure: true

release:
  stage: deploy
  variables:
    MIX_ENV: prod
    PLEROMA_BUILD_BRANCH: $CI_COMMIT_REF_NAME
  script:
    - mix deps.get
    - mkdir release
    - mix release --path release
  artifacts:
    name: "rebased-$CI_COMMIT_REF_NAME-$CI_COMMIT_SHORT_SHA-$CI_JOB_NAME"
    paths:
      - release/*
  cache: {}
  only:
    refs:
      - main
    changes: *elixir-changes

docker:
  stage: deploy
  image: docker:20.10.17
  cache: {}
  services:
    - docker:20.10.17-dind
  tags:
    - dind
  # https://medium.com/devops-with-valentine/how-to-build-a-docker-image-and-push-it-to-the-gitlab-container-registry-from-a-gitlab-ci-pipeline-acac0d1f26df
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    refs:
      - main

Fix BookmarkFolderView, add test
  changelog.d/bookmark-folders.skip
  lib/pleroma/web/pleroma_api/views/bookmark_folder_view.ex
  test/pleroma/web/pleroma_api/controllers/bookmark_folder_controller_test.ex
Due: test, test-erratic, lint, cycles, release

Fix alias
  lib/pleroma/web/activity_pub/object_validators/common_fixes.ex
  lib/pleroma/web/activity_pub/transmogrifier.ex
Due: test, test-erratic, lint, cycles, release

Remove service_domain leftovers
  lib/pleroma/domain.ex
  lib/pleroma/web/admin_api/controllers/domain_controller.ex
  lib/pleroma/web/api_spec/operations/admin/domain_operation.ex
  lib/pleroma/web/plugs/set_domain_plug.ex
  priv/repo/migrations/20230618190919_create_domains.exs
Due: openapi, test, test-erratic, lint, cycles, release

Remove duplicate routes
  lib/pleroma/web/router.ex
Due: test, test-erratic, lint, cycles, release

/api/v1/accounts/familiar_followers
  changelog.d/familiar-followers.add
  lib/pleroma/user.ex
  lib/pleroma/web/api_spec/operations/account_operation.ex
  lib/pleroma/web/mastodon_api/controllers/account_controller.ex
  lib/pleroma/web/mastodon_api/views/account_view.ex
  lib/pleroma/web/router.ex
  test/pleroma/user_test.exs
  test/pleroma/web/mastodon_api/controllers/account_controller_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

Add hint to rules
  docs/development/API/admin_api.md
  lib/pleroma/rule.ex
  lib/pleroma/web/admin_api/views/rule_view.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
  lib/pleroma/web/api_spec/operations/admin/rule_operation.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  priv/repo/migrations/20240406000000_add_hint_to_rules.exs
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

Apply, suggestions, use strings for actual Mastodon API compatibility
  lib/pleroma/rule.ex
  lib/pleroma/web/admin_api/views/report_view.ex
  lib/pleroma/web/admin_api/views/rule_view.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
  lib/pleroma/web/api_spec/operations/admin/rule_operation.ex
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/api_spec/operations/report_operation.ex
  lib/pleroma/web/common_api.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  test/pleroma/web/admin_api/controllers/rule_controller_test.exs
  test/pleroma/web/mastodon_api/controllers/report_controller_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

AdminAPI: Allow filtering reports by rule_id
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/api_spec/operations/admin/report_operation.ex
  test/pleroma/web/admin_api/controllers/report_controller_test.exs
  test/pleroma/web/admin_api/views/report_view_test.exs
  test/pleroma/web/mastodon_api/controllers/report_controller_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

Use Repo.exists?
  lib/pleroma/rule.ex
Due: test, test-erratic, lint, cycles, release

Update Admin API docs
  docs/development/API/admin_api.md
Due: none

FEP-2c59, add "webfinger" to user actor
  changelog.d/fep-2c59.add
  lib/pleroma/web/activity_pub/views/user_view.ex
  priv/static/schemas/litepub-0.1.jsonld
  test/pleroma/web/activity_pub/views/user_view_test.exs
Due: test, test-erratic, lint, cycles, release

ReceiverWorker: Make sure non-{:ok, _} is returned as {:error, …}
  changelog.d/receiverworker-error-handling.fix
  lib/pleroma/workers/receiver_worker.ex
Due: test, test-erratic, lint, cycles, release

Include image description in status media cards
  changelog.d/card-image-description.add
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

Apply @lanodan's suggestion
  lib/pleroma/web/api_spec/operations/account_operation.ex
Due: openapi, test, test-erratic, lint, cycles, release

Fix type in description
  changelog.d/description-meilisearch-type.skip
  config/description.exs
Due: test, test-erratic, lint, cycles, release

Rename project to pl
  README.md
  app.json
  lib/pleroma/web/mastodon_api/views/instance_view.ex
  lib/soapbox.ex
  mix.exs
  test/pleroma/web/mastodon_api/controllers/instance_controller_test.exs
Due: test, test-erratic, lint, cycles, release

Strip actor from objects before federating
  lib/pleroma/constants.ex
  test/fixtures/create-chat-message.json
  test/pleroma/user/backup_test.exs
  test/pleroma/web/activity_pub/transmogrifier/chat_message_test.exs
  test/pleroma/web/activity_pub/transmogrifier_test.exs
Due: test, test-erratic, lint, cycles, release

Add configuration[statuses][characters_reserved_per_url] to /api/v2/instance
  changelog.d/characters_reserved_per_url.add
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: openapi, test, test-erratic, lint, cycles, release

Add configuration[accounts][max_pinned_statuses] to /api/v2/instance
  lib/pleroma/web/api_spec/operations/instance_operation.ex
  lib/pleroma/web/mastodon_api/views/instance_view.ex
Due: openapi, test, test-erratic, lint, cycles, release

Add the absent max_featured_tags to the api spec for /api/v1/instance
  lib/pleroma/web/api_spec/operations/instance_operation.ex
Due: openapi, test, test-erratic, lint, cycles, release

Update changelog entry
  changelog.d/characters_reserved_per_url.add
  changelog.d/mastodon_api_v2.add
Due: none

Revert "Merge branch 'pleroma-card-image-description' into 'develop'"
  changelog.d/card-image-description.add
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: openapi, test, test-erratic, lint, cycles, release

Fix broken Rich Media parsing when the image URL is a relative path
  lib/pleroma/web/rich_media/parser/ttl/aws_signed_url.ex
Due: test, test-erratic, lint, cycles, release

Respect the TTL returned in OpenGraph tags
  config/config.exs
  lib/pleroma/web/rich_media/backfill.ex
  lib/pleroma/web/rich_media/parser/ttl.ex
  lib/pleroma/web/rich_media/parser/ttl/aws_signed_url.ex
  lib/pleroma/web/rich_media/parser/ttl/opengraph.ex
  test/fixtures/rich_media/reddit.html
  test/pleroma/web/rich_media/parser/ttl/opengraph_test.exs
Due: test, test-erratic, lint, cycles, release

Increase the :max_body for Rich Media to 5MB
  config/config.exs
  config/test.exs
  lib/pleroma/web/rich_media/helpers.ex
Due: test, test-erratic, lint, cycles, release

RichMedia refactor
  changelog.d/rich_media_refactor.change
  config/config.exs
  config/test.exs
  lib/pleroma/html.ex
  lib/pleroma/web/activity_pub/activity_pub.ex
  lib/pleroma/web/activity_pub/side_effects.ex
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
  lib/pleroma/web/pleroma_api/views/chat/message_reference_view.ex
  lib/pleroma/web/rich_media/backfill.ex
  lib/pleroma/web/rich_media/card.ex
  lib/pleroma/web/rich_media/helpers.ex
  lib/pleroma/web/rich_media/parser.ex
  lib/pleroma/web/rich_media/parser/ttl.ex
  lib/pleroma/web/rich_media/parser/ttl/aws_signed_url.ex
  lib/pleroma/workers/rich_media_expiration_worker.ex
  priv/repo/migrations/20240207035927_create_rich_media_card.exs
Due: test, test-erratic, lint, cycles, release

Fix broken tests
  test/pleroma/html_test.exs
  test/pleroma/web/mastodon_api/views/status_view_test.exs
  test/pleroma/web/pleroma_api/views/chat_message_reference_view_test.exs
  test/pleroma/web/rich_media/card_test.exs
  test/pleroma/web/rich_media/helpers_test.exs
  test/pleroma/web/rich_media/parser/ttl/aws_signed_url_test.exs
  test/pleroma/web/rich_media/parser_test.exs
Due: test, test-erratic, lint, cycles, release

Rich Media Cards are cached by URL not per status
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, cycles, release

Rich Media Cards are fetched asynchonously and not guaranteed to be available on first post render
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, cycles, release

Improve test description
  test/pleroma/web/rich_media/card_test.exs
Due: test, test-erratic, lint, cycles, release

Remove test validating missing descriptions are returned as an empty string
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, cycles, release

Mastodon API: Remove deprecated GET /api/v1/statuses/:id/card endpoint
  changelog.d/card-endpoint.remove
  lib/pleroma/web/mastodon_api/controllers/status_controller.ex
  lib/pleroma/web/router.ex
  test/pleroma/web/mastodon_api/controllers/status_controller_test.exs
Due: test, test-erratic, lint, cycles, release

Fix compile warning
  lib/pleroma/web/rich_media/parser/ttl/opengraph.ex
Due: test, test-erratic, lint, cycles, release

Credo
  lib/pleroma/web/rich_media/backfill.ex
Due: test, test-erratic, lint, cycles, release

Credo
  lib/pleroma/web/rich_media/helpers.ex
Due: test, test-erratic, lint, cycles, release

Fix module struct matching
  lib/pleroma/web/rich_media/card.ex
Due: test, test-erratic, lint, cycles, release

Include image description in status media cards
  changelog.d/card-image-description.add
  lib/pleroma/web/api_spec/schemas/status.ex
  lib/pleroma/web/mastodon_api/views/status_view.ex
Due: openapi, test, test-erratic, lint, cycles, release

Improve StatusView tests for Cards
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, cycles, release

Add test for StatusView rendering of Cards when missing descriptions
  test/pleroma/web/mastodon_api/views/status_view_test.exs
Due: test, test-erratic, lint, cycles, release
